.font_48 {
  font-size: 48px;
}

.font_16 {
  font-size: 16px;
}

.font_14 {
  font-size: 14px;
}

.font_12 {
  font-size: 12px;
}

.font_10 {
  font-size: 10px;
}

.lh_1-2 {
  line-height: 1.2;
}

.lh_1-5 {
  line-height: 1.5;
}

.fw_800 {
  font-weight: 800;
}

.fw_400 {
  font-weight: 400;
}

.fc_black {
  color: #000000;
}

.fc_grey {
  color: #676b5f;
}

.fc_purple {
  color: #8129d9;
}

.fc_red {
  color: #bf000b;
}
