.dash-nav-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.is-mobile .dash-nav-toolbar {
  position: fixed;
  z-index: 2;
}

.dash-nav-toolbar__title {
  margin-left: 8px;
}

.sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.is-mobile .sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidenav-bottom-content {
  margin-top: auto;
}

.sidenav-user-section {
  display: flex;
  gap: 0.25rem;
  padding: 0.75rem;
  align-items: center;
  border-radius: 12px;
  border: 1px solid #c9c9c3;
  margin: 1rem 1rem 1.5rem 1rem;

  .user-initials {
    border-radius: 50%;
    padding: 5px 10px;
    background: lightgray;
  }
}
