.dash-link-url-section {
  display: flex;
  padding: 1.5rem;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 15%;
  background: #dfe8f9;
  border-radius: 1rem;
}

@media  screen and (max-width: 768px)  {
  .dash-link-url-section {
    margin: 1rem 5%;
    flex-direction: column;
    justify-content: center;
    gap: 0.25rem;
  }
}
